/* -- override default -- */

* {
  font-family: "Open Sans"/*Helvetica*/, sans-serif;
  font-size: 100%;
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

/* -- navigation bar -- */

.navbar {
  text-align: center;
  font-size: 35px;
}

.navtext {
  padding: 1em;
  position: fixed;
  color: rgba(255, 255, 255, 1);
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(255, 255, 255,0));
  opacity: 1;
  z-index: 100;
}

.navtext .navtitle {
  display: inline;
  padding-right: 3em;
}

.navtext .navtitle .navhome {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.navtext .navitem {
  display: inline;
  font-size:70%;
  spacing: 50px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 4px;
  margin: 0px 10px;
}

.navselected {
  border-style: solid;
  border-radius: 7px;
}

.navimg {
  bottom: 20px;
  opacity: 0.8;
  position: relative;
}

.navimg .contact-img {
  opacity: 0.7;
}

/* -- quote -- */

.quote {
  z-index: 100;
  position: absolute;
  top: 40%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  word-wrap: break-word;
  padding-left: 100px;
  padding-right: 100px;
}

/* -- content --*/

.content {
  width: 100%;
  padding: 60px 150px;
  line-height: 30px;
}

.content h2 {
  font-size: 22px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.content p {
  text-align: justify;
  font-size: 20px;
  margin-top: 10px;
}

a.extlink {
  color: rgb(102, 163, 255);
  text-decoration: none;
}

/* -- images -- */

img {
  display: block;
}

.research-img {
  width: 500px;
  margin: auto;
  padding-bottom: 30px;
}

/* -- table -- */

.tableyear {
  min-width: 90px;
}

.tableentry {
  min-width: 200px;
  padding-right: 20px;
}

th {
  text-align: left;
  text-decoration: underline;
}

td {
  text-decoration: none;
}

/* -- contact -- */

.maillogo {
  display: inline;
  width: 2%;
  top: 20px;
}

.content .contactinfo {
  text-align: left;
  display: inline;
}

/* -- manage different display media -- */

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {
  .navbar {
    font-size: 25px;
  }

  .navtext .navitem {
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 2px;
    border-width: 3px;
    margin: 10px 10px;
  }

  .quote {
    top: 50%;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .content {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    padding-bottom: 30px;
    line-height: 25px;
  }

  .content h2 {
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 12px;
  }

  .content p {
    font-size: 18px;
    margin-top: 5px;
  }

  .research-img {
    width: 400px;
    padding-bottom: 20px;
  }

  .maillogo {
    width: 2%;
  }

  table {
    border-spacing: 0px 10px;
  }

  .tableyear {
    min-width: 90px;
    font-size: 18px;
  }

  .tableentry {
    min-width: 200px;
    padding-right: 30px;
    font-size: 18px;
  }
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  .navbar {
    font-size: 25px;
  }

  .navtext {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .navtext .navtitle {
    padding-right: 1.5em;
  }

  .navtext .navitem {
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 2px;
    border-width: 2.3px;
    margin: 10px 2px;
  }

  .quote {
    top: 50%;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .content {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    padding-bottom: 30px;
    line-height: 25px;
  }

  .content h2 {
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 12px;
  }

  .content p {
    font-size: 18px;
    margin-top: 5px;
  }

  .research-img {
    width: 400px;
    padding-bottom: 20px;
  }

  .maillogo {
    width: 2.5%;
  }

  table {
    border-spacing: 0px 10px;
  }

  .tableyear {
    min-width: 90px;
    font-size: 18px;
  }

  .tableentry {
    min-width: 200px;
    padding-right: 30px;
    font-size: 18px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  .navbar {
    font-size: 20px;
  }

  .navtext .navtitle {
    text-align: left;
    display: block;
  }

  .navtext .navitem {
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    border-width: 2px;
    margin: 0px 1px;
  }

  .quote {
    top: 55%;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .content {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    padding-bottom: 30px;
    line-height: 20px;
  }

  .content h2 {
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .content p {
    font-size: 15px;
    margin-top: 5px;
  }

  .research-img {
    width: 300px;
    padding-bottom: 5px;
  }

  .maillogo {
    width: 3.5%;
  }

  table {
    border-spacing: 0px 10px;
  }

  .tableyear {
    min-width: 90px;
    font-size: 15px;
  }

  .tableentry {
    min-width: 200px;
    padding-right: 10px;
    font-size: 15px;
  }
}

/* Medium devices (landscape tablets, 992px and down) */


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}
